################################################################################
##
##  ADOBE SYSTEMS INCORPORATED
##  Copyright 2005 Adobe Systems Incorporated
##  All Rights Reserved.
##
##  NOTICE: Adobe permits you to use, modify, and distribute this file
##  in accordance with the terms of the license agreement accompanying it.
##
################################################################################

class StyleProperty
{
   function get $propertyName():$typeName
   {
      return $functionName('$styleName');
   }

   function set $propertyName(style:$typeName)
   {
      setStyle('$styleName', style);
   }
}
